html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

table td,
table th {
  padding-right: 10px;
}
table thead {
  background: #dddddd;
}
table thead th {
  font-weight: bold;
  text-align: left;
}
